<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Tugas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <div class="card list">

    <div class="ion-img">
      <ion-card>
      <ion-item class="item-image" routerLink="/materi">
        <p>BIOLOGI</p>
        <img src="assets/tugasguru1.png">
      </ion-item>
    </ion-card>
    </div>
  
    <div class="ion-img">
      <ion-card>
      <ion-item class="item-image" routerLink="/materi">
        <p>B.INDONESIA</p>
        <img src="assets/tugasguru2.png">
      </ion-item>
    </ion-card>
    </div>
  
    <div class="ion-img">
      <ion-card>
      <ion-item class="item-image" routerLink="/materi">
        <p>FISIKA</p>
        <img src="assets/tugasguru3.png">
      </ion-item>
    </ion-card>
    </div>
  
    <div class="ion-img">
      <ion-card>
      <ion-item class="item-image" routerLink="/materi">
        <p>KIMIA</p>
        <img src="assets/tugasguru4.png">
      </ion-item>
    </ion-card>
    </div>

  </div>
</ion-content>
