.profile-head {
    transform: translateY(5rem)
}

body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh
}

.profile mr-3 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #000000;
}

h4 {
    height: 70px;
    font-size: x-large;
    font-family: serif;
}

img {
    width: 70px;
    height: 70px;
    margin-left: 15px;
    border-radius: 50%;
    border: 1px solid #000000;
}

a {
    margin-left: 100px;
}

ion-card-content {
    font-family: serif;
    font-size: medium;
}