<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <!-- Profile widget -->
    <div class="bg-white shadow rounded overflow-hidden">
            <div class="media align-items-end profile-head">
                <div class="profile mr-3">
                    <img src="assets/menu.png" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                    <a href="#" class="btn btn-outline-dark btn-sm btn-block" routerLink="/profiledit">Edit profile</a>
                </div><br>
                <ion-card-content>
                <div class="media-body mb-5 text-white">
                    <h4>{{user?.userName}}</h4>
                </div>
                </ion-card-content>
            </div>
    <br><br><br>
    <ion-card-content>
        <ion-icon color="light" slot="icon-only" name="reader-outline"></ion-icon>
        NIP/NISN : {{user?.userNipNisn}}
    </ion-card-content>
    <ion-card-content>
        <ion-icon color="light" slot="icon-only" name="mail-outline"></ion-icon>
        E-mail : {{user?.userEmail}}
    </ion-card-content>
    <ion-card-content>
        <ion-icon color="light" slot="icon-only" name="call-outline"></ion-icon>
        No.HP : {{user?.userPhone}}
    </ion-card-content>
    </div>
</ion-content>
