<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Kelas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/tugasguru">
      <p>VII</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/tugasguru">
      <p>VIII</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/tugasguru">
      <p>IX</p>
    </ion-item>
  </ion-card>
  </div>
  
  <img src="assets/kelassiswa.png">
</ion-content>
