<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Nilai</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="light">Skor Penilaian :</ion-card-title>
      <img src="assets/nilai.png">
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-item color="white">
      <ion-label color="light" position="floating">Pengirim :</ion-label>
      <ion-input color="light" required type="text" [(ngModel)]="lapornilai.pengirim" name="lapornilai.pengirim"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label color="light" position="floating">Penerima :</ion-label>
      <ion-input color="light" required type="text" [(ngModel)]="lapornilai.penerima" name="lapornilai.penerima"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label color="light" position="floating">Subjek :</ion-label>
      <ion-input color="light" required type="text" [(ngModel)]="lapornilai.subjek" name="lapornilai.subjek"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label color="light" position="floating">Nama :</ion-label>
      <ion-input color="light" required type="text" [(ngModel)]="lapornilai.nama" name="lapornilai.nama"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label color="light" position="floating">Kelas :</ion-label>
      <ion-input color="light" required type="text" [(ngModel)]="lapornilai.kelas" name="lapornilai.kelas"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label color="light" position="floating">Semester :</ion-label>
      <ion-input color="light" required type="text" [(ngModel)]="lapornilai.semester" name="lapornilai.semester"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label color="light" position="floating">Skor Nilai :</ion-label>
      <ion-input color="light" required type="text" [(ngModel)]="lapornilai.nilai" name="lapornilai.nilai"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label color="light" position="floating">Status :</ion-label>
      <ion-input color="light" required type="text" [(ngModel)]="lapornilai.status" name="lapornilai.status"></ion-input>
    </ion-item>
  </ion-card>

  <div>
    <ion-button expand="full" shape="round" size="small" (click)="createLapor(lapornilai)" [disabled]="loading">Lapor</ion-button>
  </div>
</ion-content>
