<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Nilai</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card *ngFor="let lapornilai of lapornilai">
    <ion-card-header>
      <p>Pengirim  : {{ lapornilai.pengirim }}</p>
      <hr color="black">
      <p>Penerima  : {{ lapornilai.penerima }}</p>
      <hr color="black">
      <p>Subjek    : {{ lapornilai.subjek }}</p>
      <hr color="black">
      <p>Nama      : {{ lapornilai.nama }}</p>
      <hr color="black">
      <p>Kelas     : {{ lapornilai.kelas }}</p>
      <hr color="black">
      <p>Semester  : {{ lapornilai.semester }}</p>
      <hr color="black">
      <p>Nilai     : {{ lapornilai.nilai }}</p>
      <hr color="black">
      <p>Status    : {{ lapornilai.status }}</p>
      <hr color="black"><br><br>
      <p>{{ lapornilai.pesan }}</p>
    </ion-card-header>
    </ion-card>
</ion-content>
