ion-content.background{
    --ion-background-color: #ffffff;
}

ion-card {
    background-color: #ffffff;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    font-family: serif;
}
