<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>BIOLOGI</ion-card-title>
    </ion-card-header>
    <ion-card-content class="tanggat">
      Nilai min. 75 Tanggat: Rabu, 18 November 23.59
      <hr color="black">
    </ion-card-content>
    <ion-input class="kecil" type="text" placeholder="Klik disini untuk membuat pertanyaan" [(ngModel)]="tampiltugas.tampilTugas" name="tampiltugas.tampilTugas"></ion-input>
  </ion-card>

  <div class="unggah">
    <ion-button shape="round"size="small" (click)="createUnggah(tampiltugas)" [disabled]="loading">Unggah</ion-button>
  </div>
</ion-content>
