ion-content.background{
    --ion-background-color:#ffffff;
}

ion-card {
  background-color: #ffffff;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
}

ion-card-title {
  height: 23px;
  color: black;
  font-family: serif;
}

hr {
  height: 1px;
}

.tanggat {
  height: 23px;
  font-size: 9px;
}
  
.unggah {
  margin-left: 150px;
  font-size: 5px;
}

ion-input.kecil {
  text-transform: none;
  margin-left: 6px;
  font-size: 12px;
}