ion-content.background {
    --ion-background-color: #ffffff;
}

img {
    width: 200px;
    height: 130px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

ion-card-title {
    align-items: center;
    text-align: center;
    color: black;
    font-size: 22px;
    font-family: fantasy;
    height: 0px;
}

p {
    color: rgb(44, 42, 42);
    font-size: 16px;
    font-family: serif;
    height: 60px;
}

ion-row {
    align-items: center;
    text-align: center;
    height: 150px;
}

ion-item {
    border-radius: 10px !important;
    font-size: 0.9em;
    margin-bottom: 15px;
    border: 1px solid rgba(34, 34, 34, 0.096);
    border-bottom: 0px !important;
    
    background-color: #ffffff;
    -webkit-box-shadow: 4px 8px 6px -6px #222;
    -moz-box-shadow: 4px 8px 6px -6px #222;
    box-shadow: 4px 4px 6px -6px #222;
}

div.ion-padding {
    height: 52px;
}