<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button routerLink="/loginsiswa" (click)="dismissRegister()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card-header>
    <ion-card-title>Pemulihan Kata Sandi</ion-card-title>
  </ion-card-header>
    <ion-row>
      <ion-col><br />
        <img src="assets/forgot.png" /><br /><br />
      </ion-col>
    </ion-row>
  <p style="text-align: center; padding: 5px;">Kami akan mengirimkan url pemulihan kata sandi ke email Anda</p>
  <ion-item>
    <div color="dark" slot="start">
      <ion-icon slot="icon-only" name="person" ></ion-icon>
    </div>
    <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <div class="ion-padding">
    <ion-button expand="full" shape="round" (click)="forgot()" [disabled]="loading">{{loading ? 'Tunggu..':'Kirim'}}</ion-button>
  </div>  

<div class="ion-padding ion-text-center">
  <ion-button fill="clear" routerLink="/registersiswa">Buat Akun</ion-button>
  <ion-button fill="clear" routerLink="/loginsiswa">Masuk</ion-button>
</div>

</ion-content>
