<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-grid>
    <ion-row>
      <ion-col><br />
        <img src="assets/ds.png" /><br /><br />
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-item color="white">
    <div slot="start">
        <ion-icon color="light" slot="icon-only" name="person" ></ion-icon>
    </div>
      <ion-input color="light" type="text" placeholder="Email Pengguna" [(ngModel)]="email"></ion-input>
    </ion-item>  
    <ion-item  color="white">
    <div slot="start">
        <ion-icon color="light" slot="icon-only" name="lock-closed"></ion-icon>
    </div>
      <ion-input color="light" type="text" placeholder="Kata Sandi" *ngIf="showPasswordText" [(ngModel)]="password"></ion-input>
      <ion-input color="light" type="password" placeholder="Kata Sandi" *ngIf="!showPasswordText" [(ngModel)]="password"></ion-input>
    </ion-item>
    <div class="ion-text-right">
      <ion-button class="kecil" fill="clear" size="small" color="light" routerLink="/forgot">Lupa Kata Sandi?</ion-button>
    </div>
    <ion-button class="masuk" expand="full" shape="round" detail (click)="masuk()" [disabled]="loading">{{loading ? 'tunggu..':'Masuk'}}</ion-button>
  <p class="ion-text-center">Belum punya akun?</p>
  <ion-button expand="full" shape="round" color="danger" routerLink="/register">Daftar</ion-button>  
</ion-content>
