<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
        <ion-icon name="chatbubble-ellipses"></ion-icon>
        <ion-label>Pesan</ion-label>
      </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Profil</ion-label>
          </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
