ion-content.background{
    --ion-background-color:#ffffff url('/assets/img/') no-repeat 100% 100%;
    background-size: cover;
}

.card-list {
    color: black;

    ion-subtitle {
        margin-left: 15px;
    }
}

ion-card {
    background-color: #ffffff;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
}

h6 {
    color: black;
    font-size: 15px;
    margin-left: 5px;
}

.radio {
    color: #ffffff;
}

.kunci {
    font-size: 12px;
    height: 10px;
    color: rgb(255, 0, 0);
}
