<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Jawab Pertanyaan</ion-card-title>
      <hr color="black">
    </ion-card-header>
    <ion-input class="kecil" type="text" placeholder="Klik disini untuk menjawab pertanyaan" [(ngModel)]="tampiljawab.njawab" name="tampiljawab.njawab"></ion-input>
  </ion-card>

  <div class="unggah">
    <ion-button expand="full" size="medium" (click)="createUnggah(tampiljawab)" [disabled]="loading">Unggah</ion-button>
  </div>
</ion-content>
