ion-content.background{
    --ion-background-color:#ffffff url('/assets/img/') no-repeat 100% 100%;
    background-size: cover;
}

ion-card {
    background-color: #ffffff;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
}

ion-title {
    font-family: serif;
}

button {
    margin-left: 230px;
    size: 8px;
  }

img {
    margin-left: 100px;
    width: 170px;
}

.materi {
    height: 0px;
    color: black;
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 5px;
}

ion-button.jawab {
    font-size: 5px;
    text-transform: none;
}
