<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Materi</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card *ngFor="let tampiltugas of tampiltugas">
      <ion-item color="light">
        <ion-card-header color="light">
          <ion-card-title>SOAL:</ion-card-title>
        </ion-card-header>
      </ion-item>
    
    <ion-card-content class="tanggat">
      Nilai min. 75 Tanggat: Rabu, 18 November 23.59
      <hr color="black">
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle class="pilgan">ESSAY</ion-card-subtitle>
      <p>{{ tampiltugas.tampiltugas }}</p>
    </ion-card-header>

    <div class="jawab">
      <ion-button expand="full" color="dark" [routerLink]="['/jawab/']">Jawab Pertanyaan</ion-button>
    </div>

  </ion-card>
  <img src="assets/kelassiswa.png">
</ion-content>
