* {
    font-family: sans-serif;
}

.menu-header-bg {
    height: 180px;
    width: 350px;
    background: #ffffff;
    background: linear-gradient(90deg,  #4188e6 0%,  #ffffff 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.menu-item {
    color: #ffffff;
}

.ion-text-center {
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;

    ion-title {
        font-family: serif;
        color: black;
        margin-left: 50px;
    }

    h2 {
        font-size: 15px;
    }

    p {
        font-size: 15px;
        color: #fafafa;
        font-weight: 100;
        letter-spacing: 0,4px;
    }
}

