<ion-app>
  <ion-menu side="start" menuId="first" contentId="content">
    <ion-content color="dark">
      <div class="menu-header-bg"></div>
      <div class="ion-text-center">
        <ion-title size="large" color="light">SIMATUS</ion-title>
      </div>
      
      <ion-list class="menu-item" *ngFor="let page of navigate">
        <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="page.url" roterDirection="forward" color="dark">
          <ion-icon [name]="page.icon" slot="start"></ion-icon>
            {{page.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-app>
