<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card *ngFor="let tampiltugas of tampiltugas">
    <ion-item-sliding>
      <ion-item color="light">
        <ion-card-header color="light">
          <ion-card-title>SOAL:</ion-card-title>
        </ion-card-header>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="primary" [routerLink]="['/uploadtugasguru/']">
          Tambah tugas
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-card-content class="tanggat">
      Nilai min. 75 Tanggat: Rabu, 18 November 23.59
      <hr color="black">
    </ion-card-content>

    <ion-card-header>
      <p>{{ tampiltugas.tampiltugas }}</p>
    </ion-card-header>

    <div>
      <ion-button expand="full" shape="round" size="small" (click)="createKirim(kirim)" [disabled]="loading">Kirim</ion-button>
    </div>
  </ion-card>
</ion-content>
