ion-content.background{
    --ion-background-color:#ffffff url('/assets/img/') no-repeat 100% 100%;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 35px;
    color: black;
}

.card{
    position: relative;
    text-align: center;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
}

.ion-item{
    margin-left: 0px;
    margin-right: 0px;
}
