<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card *ngFor="let tampiljawab of tampiljawab">
      <ion-item color="light">
        <ion-card-header color="light">
          <ion-card-title>Jawaban</ion-card-title>
        </ion-card-header>
      </ion-item>
    
    <ion-card-content class="tanggat">
      Nilai min. 75 Tanggat: Rabu, 18 November 23.59
      <hr color="black">
    </ion-card-content>

    <ion-card-header>
      <p>{{ tampiljawab.njawab }}</p>
    </ion-card-header>
  </ion-card>
</ion-content>
