<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/formnilaisiswa">
      <p>Nilai</p>
    </ion-item>
  </ion-card>
  </div>
  
  <img src="assets/info.png">

</ion-content>
