<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" fill="clear" routerLink="/notifikasisiswa">
      <ion-icon color="light" slot="icon-only" name="notifications"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-grid>
    <ion-row>
      <ion-col><br />
        <img src="assets/ds.png" /><br /><br />
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="siswa">
    <ion-button expand="block" size="default" routerLink="/jadwalsiswa">Jadwal Siswa</ion-button>
  </div>

  <div class="kelas">
    <ion-button expand="block" size="default" routerLink="/kelassiswa">Mata Pelajaran</ion-button>
  </div>

  <div class="tugas">
    <ion-button expand="block" size="default" routerLink="/tugassiswa">Tugas</ion-button>
    <ion-button expand="block" size="default" routerLink="/loginsiswa">Kembali</ion-button>
  </div>
</ion-content>
