ion-content.background{
    --ion-background-color:#ffffff url('/assets/img/') no-repeat 100% 100%;
    background-size: cover;
}

ion-img{
   
    width: 200px;
    height: 450px;
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 0px;
 
}

ion-row {
    align-items: center;
}
  
.siswa {
    display: contents;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 17px;
    height: 5%;
    color: black;
}

.kelas {
    display: contents;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 17px;
    height: 5%;
    color: black;
}

.tugas {
    display: contents;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 17px;
    height: 5%;
    color: black;
}