<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Mata Pelajaran</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/jadwalsiswa">
      <p>BIOLOGI</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/jadwalsiswa">
      <p>B.INDONESIA</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/jadwalsiswa">
      <p>FISIKA</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/jadwalsiswa">
      <p>KIMIA</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/jadwalsiswa">
      <p>FISIKA</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/jadwalsiswa">
      <p>Agama Islam</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/jadwalsiswa">
      <p>Sejarah</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/jadwalsiswa">
      <p>Seni Budaya</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/jadwalsiswa">
      <p>Jasmani</p>
    </ion-item>
  </ion-card>
  </div>

  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/jadwalsiswa">
      <p>PPKN</p>
    </ion-item>
  </ion-card>
  </div>
  
  <div>
    <ion-card>
    <ion-item color="dark" routerLink="/jadwalsiswa">
      <p>Matematika</p>
    </ion-item>
  </ion-card>
  </div>
  <img src="assets/kelassiswa.png">
</ion-content>
