ion-content.background{
    --ion-background-color: #ffffff;
}

ion-select-option {
    color: #ffffff;
}

img {
    margin-left: 100px;
    width: 170px;
}

ion-icon {
    --ionicon-stroke-width: 20px;
    color: black;
    margin-left: 230px;
}
