<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-button slot="end" fill="clear" routerLink="/notifikasiguru">
      <ion-icon color="light" slot="icon-only" name="notifications"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-grid>
    <ion-row>
      <ion-col><br />
        <img src="assets/ds.png" /><br /><br />
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="guru">
    <ion-button expand="block" size="default" routerLink="/jadwalguru">Jadwal Guru</ion-button>
  </div>

  <div class="kelas">
    <ion-button expand="block" size="default" routerLink="/kelas">Kelas</ion-button>
  </div>

  <div class="tugas">
    <ion-button expand="block" size="default" routerLink="/halamantugas">Penugasan</ion-button>
    <ion-button expand="block" size="default" routerLink="/login">Kembali</ion-button>
  </div>
</ion-content>
