ion-content.background{
    --ion-background-color: #ffffff;
}

ion-title {
    font-family: serif;
}

img {
    width: 250px;
    height: 400px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

ion-row {
    align-items: center;
    text-align: center;
}