<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-grid>
    <ion-row>
      <ion-col><br />
        <img src="assets/logout.png" /><br /><br />
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button class="keluar" expand="full" shape="round" detail (click)="presentAlertMultipleButtons()" [disabled]="loading">{{loading ? 'tunggu..':'Keluar'}}</ion-button>

</ion-content>
