ion-content.background{
    --ion-background-color:#ffffff url('/assets/img/') no-repeat 100% 100%;
    background-size: cover;
}

ion-card {
  background-color: #ffffff;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
}
  
ion-card-title {
  height: 23px;
  color: black;
  font-family: serif;
}

hr {
  height: 1px;
}

button {
  margin-left: 120px;
}

.pilgan {
  height: 5px;
  color: black;
  font-family: unset;
}

.essay {
  height: 0px;
  color: black;
  font-family: unset;
}

.tanggat {
  height: 23px;
  font-size: 9px;
}

ion-input.kecil {
    text-transform: none;
    margin-left: 6px;
    height: 10px;
    font-size: 12px;
}

.isi {
  font-size: 13px;
  height: 125px;
  color: black;
  justify-content: center;
}

.col col-33 {
  border: 2px solid rgb(0, 0, 0);
  position: relative;
  top: 100%;
  font-size: 10px;
  width: 100%;
 }

 .serahkan {
   margin-left: 125px;
   font-size: 5px;
 }