<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-card>
    <ion-card-header>
      <ion-card-title>BIOLOGI</ion-card-title>
    </ion-card-header>  
    <ion-card-content class="tanggat">
      Nilai min. 75 Tanggat: Rabu, 18 November 23.59
      <hr color="black">
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle class="essay">Kategori: ESSAY</ion-card-subtitle>
      <button>Unduh<ion-icon name="download-outline"></ion-icon></button>
    </ion-card-header>
    <ion-card-content class="isi">
      Secara biogeografi, Indonesia dapat dibagi menjadi tiga kawasan, yaitu kawasan oriental, Australian, dan kawasan peralihan. Tuliskan  daerah yang termasuk dalam kawasan-kawasan tersebut!
    </ion-card-content>

    <ion-card-content>
      <ion-input class="kecil" type="text" placeholder="Jawaban:" [(ngModel)]="text"></ion-input>
      <hr color="gray">
    </ion-card-content>
    <ion-card-content>
      <ion-col class="col col-33">
        <ion-icon name="attach-outline" routerLink="/uploadtugassiswa"></ion-icon>
        Tambah lampiran
      </ion-col>
    </ion-card-content>

    <div class="serahkan">
      <ion-button shape="round"size="small" routerLink="/essay" (click)="serahkan()" [disabled]="loading">{{loading ? 'tunggu..':'Serahkan'}}</ion-button>
    </div>
  </ion-card>
</ion-content>
