<ion-content padding class="background">
  <ion-grid>
    <ion-row>
      <ion-col><br /><br /><br /><br /><br/>
        <img src="assets/home.png" /><br /><br />
      </ion-col>
    </ion-row>
  </ion-grid>
    <div class="mulai">
      <ion-button shape="round"size="default" routerLink="/welcome">Mulai</ion-button>
    </div>
  </ion-content>
  