ion-content.background{
    --ion-background-color: #ffffff;
}

ion-row {
  align-items: center;
  text-align: center;
}
  
ion-img{
  width: 200px;
  height: 450px;
  margin-left: 50px;
  margin-right: 0px;
  margin-top: 0px;
  
}
  
.mulai {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
  height: 5%;
  color: black;
}