ion-content.background {
    --ion-background-color: #ffffff;
}

ion-list{
    background-color: transparent;
    padding: 0;
}

ion-item {
    border-radius: 10px !important;
    //padding-left: 30px !important;
    font-size: 0.9em;
     margin-bottom: 4px;
    border: 1px solid rgba(34, 34, 34, 0.096);
    border-bottom: 0px !important;
    //box-shadow: none !important;
    
    background-color: #ffffff;
    -webkit-box-shadow: 4px 8px 6px -6px #222;
    -moz-box-shadow: 4px 8px 6px -6px #222;
    box-shadow: 4px 4px 6px -6px #222;
}

div.ion-padding {
    height: 52px;
}

.error-container{
    color: red;
    font-size: 0.8em;
}

div.ion-text-center {
    font-size: 20px;
    height: 0px;
}