<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button routerLink="/login" (click)="dismissRegister()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-item color="white">
    <ion-label color="light" position="floating">Nama Lengkap</ion-label>
    <ion-input color="light" required type="text" [(ngModel)]="name" name="name"></ion-input>
  </ion-item>
  <ion-item color="white">
    <ion-label color="light" position="floating">Email</ion-label>
    <ion-input color="light" required type="email" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  <ion-item color="white">
    <ion-label color="light" position="floating">NIP/NISN</ion-label>
    <ion-input color="light" required type="number" [(ngModel)]="nipnisn" name="nipnisn"></ion-input>
  </ion-item>
  <ion-item color="white">
    <ion-label color="light" position="floating">No. HP</ion-label>
    <ion-input color="light" required type="number" [(ngModel)]="phone" name="phone"></ion-input>
  </ion-item>
  <ion-item color="white"> 
    <ion-label color="light" position="floating">Kata Sandi</ion-label>
    <ion-input color="light" required type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>
  <ion-item color="white">
    <ion-label color="light" position="floating">Konfirmasi Kata Sandi</ion-label>
    <ion-input color="light" type="password" [(ngModel)]="password_cek" name="password"></ion-input>
  </ion-item>
  <div class="ion-padding">
    <ion-button expand="full" shape="round" color="danger" (click)="register()" [disabled]="loading && name == undefined || password == undefined || password != password_cek">Daftar</ion-button>
  </div>  
    <div class="ion-text-center">
  <ion-button fill="clear" routerLink="/forgot">Lupa Kata Sandi?</ion-button>
</div>
</ion-content>
